:root {
    --gfont: ""Arial", sans-serif"
}

body {
    position: relative;
    line-height: 1.3em;
}

.noscroll { overflow: hidden; }

#logo {
    height: 20vw;
    max-height: 200px;
    width: auto;
    cursor: help;
}

#wrap.blur {
    pointer-events: none;
    overflow: hidden;
    filter: blur(15px);
}

#info {
    /* font-family: var(--gfont); */
    font-size: 10vw;
    line-height: 1em;
    color: green;

    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#info.hidden {
    display: none;
}

.block {
    padding: 1em 0;
    border-bottom: 1px dotted; 
}

    .block.hidden {
        display: none;
    }

.block img {
    max-width: 100%;
}

.block .block__class {
    margin-right: .5em;
    vertical-align: middle;
    line-height: 1rem;
    padding: .15em 1em;
    font-size: .7em;
    border: 1px dotted;
}

.block .block__date {
    margin-right: .3em;
    font-size: .7em;
    /* letter-spacing: .1em; */
    font-family: Arial, Helvetica, sans-serif;
}
    .block .block__date a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
    .block .block__date a:hover {
        text-decoration: underline;
    }

.page-btn {
    cursor: pointer;
    background: none;
    border: 1px dotted;
}
.page-btn:hover {
    background: lightgrey
}
#load-more.loading {
    display: none;
}
.loading-indicator {
    display: none;
}
#load-more.loading + .loading-indicator {
    display: block;
}

#filters {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
}

#filters button {
    padding: 0 2em;
    border: 1px dotted;
    background: none;

    margin-left: -1px;
    margin-top: -1px;

    cursor: pointer;
}

#filters button:hover {
    background: lightgrey;
}

#filters button.active {
    background: lightgrey;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: inherit; /* 1 */
   font-size: 100%; /* 1 */
   line-height: 1.15; /* 1 */
   margin: 0; /* 2 */
 }
 
 /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
 
 button,
 input { /* 1 */
   overflow: visible;
 }
 
 /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
 
 button,
 select { /* 1 */
   text-transform: none;
 }
 
 /**
  * Correct the inability to style clickable types in iOS and Safari.
  */
 
 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
   -webkit-appearance: button;
 }